{% assign latest = messages | first %}
{% assign rest = messages | slice: 1, 4 %}

<div class="layout layout--col">
    {% if latest %}
        <div class="stretch">
            {% render "message", message: latest %}
        </div>

        <div class="border--h-3 w--full"></div>

        {% for message in rest %}
            {% render "message", message: message, size: 'small' %}
            
            {% unless forloop.last %}
                <div class="border--h-3 w--full"></div>
            {% endunless %}
        {% endfor %}
    {% else %}
        <span class="label">No messages received yet</span>
    {% endif %}
</div>

{% render "title_bar" %}